:root {
  --color-primary-light:#2c85a3;
  --color-primary-dark:#336666;
  --color-grey-light: #666666;
  --color-grey-dark:#333;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
}

html {
  font-size: 62.5%;
}
@media (min-width: 75em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

a, a:hover {
  text-decoration: none;
  color: black;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
h1 {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  color: var(--color-grey-dark);
}

h2 {
  font-family: "Cabin", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.dropdown-menu {
  left: -5rem;
}

.full_view {
  display: flex;
  flex-direction: row;
  background-image: url("../img/base-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.main_content {
  flex: 1;
  background-color: transparent;
}

.header_content {
  height: 4rem;
}

.main_content, .sidebar {
  height: 96vh;
}

.header {
  padding: 0.3rem 0.3rem 0.2rem 1rem;
  z-index: 1;
}
.header__logo {
  height: 4rem;
}
.header__icon {
  width: 2.75rem;
  z-index: 1;
  height: 2.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 1.4rem;
  padding: 0;
  padding-top: 0;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.3rem;
  background-color: var(--color-primary-light);
  transform: scaleY(0);
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
  transition: transform 0.1s;
}
.side-nav__item:hover > .side-nav__link {
  text-decoration: none;
  color: white;
}
.side-nav__link::before {
  height: 0;
  width: 0;
  content: "";
  position: absolute;
  left: 3.8rem;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: 0.1s;
}
.side-nav__item:hover > .side-nav__link::before {
  height: 3rem;
  width: 3rem;
  background-color: white;
}
.side-nav__item:active::before {
  background-color: var(--color-primary-dark);
}
.side-nav__link, .side-nav__link:visited {
  color: var(--color-grey-light);
  text-decoration: none;
  padding: 0.8rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
}
.side-nav__icon {
  width: 1.75rem;
  z-index: 1;
  height: 1.75rem;
  margin-right: 2rem;
  fill: var(--color-primary-light);
}
.side-nav__button > .side-nav__icon {
  fill: white;
  margin: 0.5rem auto;
}
.side-nav__button-container {
  display: flex;
  flex-direction: row;
}
.side-nav__button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  padding: 2rem 0;
  background-color: var(--color-primary-light);
}
.side-nav__button:focus {
  outline: none;
}
.side-nav__button:active {
  transform: translateY(2px);
}

/*# sourceMappingURL=main.css.map */
