.full_view
    display: flex
    flex-direction: row
    background-image: url('../img/base-bg.jpg') 
    background-repeat: no-repeat
    background-size: cover

.sidebar
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 22.5rem
    background-color: rgba(255,255,255, 0.8)

.main_content
    flex: 1
    background-color: transparent
.header_content
    height: 4rem

.main_content, .sidebar
    height: 96vh